@charset "utf-8";
/* CSS Document */

/* body 공통속성 */
*	{margin:0; padding:0; list-style-type:none;}
BODY	{
	border-collapse:collapse;
	margin:0 0 0 0;
	background-color:#ffffff;
}
TABLE	{
	border-collapse:collapse;
	border:0; padding:0 0 0 0;
}
SELECT {
	font-family:dotum, "";
	font-size:12px;
	color:#666666;
	behavior:url('js/common/htc/htc_selectbox.htc');
}

DIV.subMenu {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 10px;
    font-size: 12px;
    font-family: Arial;
    color: #ffffff;
}

.required {
    color: #B30000;
}

/* 서브 페이지 레이아웃 큰박스 속성 */
#subwrap {
	width:985px;
}
{
	/*background:url(../images/sub1_bg.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	text-align:center;*/
}
#header {
	width:985px;
	height:232px;
	float:left;
}
#sidebar {
	width:206px;
	float:left;
	padding-top:0px;
}
#contents {
	width:779px;
	float:left;
}
#footer {
	width:985px;
	height:75px;
	float:left;
	background:url(../images/footer.gif);
	background-repeat:no-repeat;
	background-position:center top;
}



/* 중앙좌측 박스 속성 */
#le_menu {width:206px;float:left;}

/* 중앙우측 박스 속성 */
#up_title { text-align:right;}
#up_main { padding-left:5px; padding-top:20px; text-align:left;	width:755px;}
#CFO_main { padding:5px 0 10px 5px; text-align:left;}

/*=================================================================*/
.topinfo {font-family:dotum, "";font-size:11px;color:#555555; text-align:right;}

.sample_menu_bg {
	background-repeat:repeat-x;
	text-align:center;
	width:700px;
}
.sample_menu_bg li{	
	list-style:none;
	font-size:12px;
	font-family:"돋움";
	color:#FFF;
	float: left;
	margin: 0;
	padding: 0;
	padding-top:10px;
	width:20%;
	height:38px;
}
.sample_menu_bg UL LI.bg1 {
	background-image:url(../images/sample_menu_bg.gif);
	background-position:0px 0px;
}
.sample_menu_bg UL LI.bg2 {
	background-image:url(../images/sample_menu_bg.gif);
	background-position:0px 38px;
}
.sample_menu_bg UL LI.bg3 {
	background-image:url(../images/sample_menu_bg.gif);
	background-position:0px 76px;
}


